body, html{
    height: 100%;
    font-family: Helvetica, 'sans-serif';
    margin: 0;
}

.container{
background-image: url('img/cak.jpeg');
background-size: cover;
width: 90vmin;
height: 90vmin;
margin:auto;
}
#rateDiv, #volDiv, #timeDiv{
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

#rateDiv{
    background-color: rgba(255, 0, 0, 0.275);
}

#volDiv{
    background-color: rgba(255, 255, 0, 0.276);
}

#timeDiv{
    background-color: rgba(0, 0, 255, 0.277);
}

#player{
    width: 100%;
    height: 7.5%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(251, 251, 216, 0.427);
    text-align: center;
}

#play, #pause, #stop{
    display: inline-block;
}

#play-text, #pause-text, #stop-text{
    line-height: 10vh;
    font-size: 1.2em;
}

#play-text:hover, #pause-text:hover, #stop-text:hover{
    font-style: italic;
    font-weight: bold;
    background-color: black;
    color: white;
}

#play-text, #pause-text{
    margin-right: 2em;
}

#pb-time{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    bottom: calc(12.5% - 12.5px);
}